@if(!isTabelaRelacionada()) {
  <div class="bg-white pb-6 rounded-b-lg">
    <magma-shared-title>
        <button type="button" nz-button nzType="primary" [routerLink]="['/alunos', 'criar']">Incluir Aluno</button>
    </magma-shared-title>
  </div>
}

<section class="mt-2">
  <div class="mx-auto px-4 bg-white flex-col divide-y divide-gray-200 items-center rounded-lg">
    <nz-table [nzData]="alunos.items" [nzLoading]="carregandoAlunos" [nzPageIndex]="pageIndex" [nzPageSize]="pageSize"
              [nzTotal]="alunos.totalCount" (nzQueryParams)="onQueryParamsChange($event)">
      <thead>
        <tr>
          <th>Matrícula</th>
          <th>Nome</th>
          <th>CPF</th>
          <th>Curso</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let aluno of alunos.items">
          <td>{{ aluno.matricula }}</td>
          <td>{{ aluno.nome }}</td>
          <td>{{ aluno.cpf }}</td>
          <td>{{ getCursoNome(aluno.cursoId!) }}</td>
          <td>
            <button nz-button nzType="default" nzSize="small" nzShape="circle" class="mr-2" (click)="editar(aluno)">
              <span nz-icon nzType="edit"></span>
            </button>
            <button nz-button nzType="default" nzDanger nzSize="small" nzShape="circle"
                    nz-popconfirm nzPopconfirmTitle="Tem certeza que deseja excluir este aluno?"
                    (nzOnConfirm)="excluir(aluno)">
              <span nz-icon nzType="delete"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</section>
